<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="UTF-8">

	<title>MVC App</title>

	<script id="sap-ui-bootstrap"
			src="/openui5-runtime-1.40.10/resources/sap-ui-core.js"
			data-sap-ui-libs="sap.m"
			data-sap-ui-theme="sap_bluecrystal"
			data-sap-ui-preload="async"
			data-sap-ui-compatVersion="edge"
			data-sap-ui-xx-bindingSyntax="complex"
			data-sap-ui-resourceroots='{"kl.app.sapui5": "/webapp/"}'>
	</script>

	<script>
		sap.ui.getCore().attachInit(function () {
			sap.ui.require([
				"sap/m/Shell",
				"sap/ui/core/ComponentContainer",
				"kl/app/sapui5/Component"
			], function (Shell, ComponentContainer, Component) {
				// initialize the UI component
        // without Shell
        /*new ComponentContainer({
          height : "100%",
          component : new Component({
            id: "mvcAppComponent"
          })
        }).placeAt("content"); */

        // With shell
				new Shell({
					app: new ComponentContainer({
						height : "100%",
						component : new Component({
							id: "mvcAppComponent"
						})
					})
				}).placeAt("content");
			});
		});
	</script>
</head>

<body class="sapUiBody" id="content"></body>

</html>
